h1 {
    text-align: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-inline: auto;
}

.form-login > input{
    margin-bottom: 20px;
}

@media (min-width: 600px) {
    .form-login {
        width: 30%;
    }
}